In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [58]:
try:
    import rpy2.robjects as robjects
    from rpy2.robjects import pandas2ri
    from rpy2.robjects.conversion import localconverter
    
    print("Error importing in API mode: ImportError('On Windows, cffi mode \"ANY\" is only \"ABI\".')")
    print("Trying to import in ABI mode.")
    
    # Use the modern context manager approach instead of deprecated activate()
    with localconverter(robjects.default_converter + pandas2ri.converter):
        # Load the R data files
        robjects.r['load']("C:/Users/vishw/OneDrive/Desktop/Projects/Novartis/Dataset/comparisons_metadata.RData")
        robjects.r['load']("C:/Users/vishw/OneDrive/Desktop/Projects/Novartis/Dataset/mat.filtered_after_RemoveBatchEffect.RData")
        
        # Get all objects from R global environment
        r_objects = robjects.r['ls']()
        print("Available R objects:", list(r_objects))
        
        # Convert R objects to pandas DataFrames
        try:
            comparisons_metadata_r = robjects.r['comparisons_metadata']
            comparisons_metadata = pd.DataFrame(comparisons_metadata_r)
            print("Successfully loaded comparisons_metadata as pandas DataFrame")
        except Exception as e:
            print(f"comparisons_metadata not found or conversion failed: {e}")
            comparisons_metadata = None
        
        try:
            mat_filtered_r = robjects.r['mat.filtered_after_RemoveBatchEffect']
            mat_filtered = pd.DataFrame(mat_filtered_r)
            print("Successfully loaded mat.filtered_after_RemoveBatchEffect as pandas DataFrame")
        except Exception as e:
            print(f"mat.filtered_after_RemoveBatchEffect not found or conversion failed: {e}")
            mat_filtered = None

except ImportError as e:
    print(f"Error importing rpy2: {e}")
    print("Skipping R data loading. Please ensure rpy2 is properly installed.")
    comparisons_metadata = None
    mat_filtered = None

Error importing in API mode: ImportError('On Windows, cffi mode "ANY" is only "ABI".')
Trying to import in ABI mode.
Available R objects: ['comparison_group_member_info_public', 'comparisons_info_public', 'mat.filtered_after_RemoveBatchEffect']
comparisons_metadata not found or conversion failed: "'comparisons_metadata' not found"
Successfully loaded mat.filtered_after_RemoveBatchEffect as pandas DataFrame

In [56]:
metadata = pd.read_excel("../Dataset/HEK293T_MetaData.xlsx", header=1)
dataframe = pd.read_csv('C:/Users/vishw/OneDrive/Desktop/Projects/Novartis/Dataset/csv/HEK293T_Counts.csv', header=1)

In [33]:
metadata[metadata['sample']=="DMSO_02"]

,unique_ID,experiment_no,sample_plate,sample_row,sample_column,cell_id,pert_itime,pert_idose,sample,treatment
377,MCE5_293T_24H_X1:J23,MCE_20220606,MCE5_293T_24H_X1,10,23,cell_293T,24 h,-666,DMSO_02,DMSO
757,MCE5_293T_24H_X2:J23,MCE_20220606,MCE5_293T_24H_X2,10,23,cell_293T,24 h,-666,DMSO_02,DMSO
1137,MCE5_293T_24H_X3:J23,MCE_20220606,MCE5_293T_24H_X3,10,23,cell_293T,24 h,-666,DMSO_02,DMSO
1513,MCE6_293T_24H_X1:J23,MCE_20220606,MCE6_293T_24H_X1,10,23,cell_293T,24 h,-666,DMSO_02,DMSO
1888,MCE6_293T_24H_X2:J23,MCE_20220606,MCE6_293T_24H_X2,10,23,cell_293T,24 h,-666,DMSO_02,DMSO
...,...,...,...,...,...,...,...,...,...,...
39270,MCE17_293T_24H_X2:J23,MCE_20221009,MCE17_293T_24H_X2,10,23,cell_293T,24 h,-666,DMSO_02,DMSO
39646,MCE17_293T_24H_X3:J23,MCE_20221009,MCE17_293T_24H_X3,10,23,cell_293T,24 h,-666,DMSO_02,DMSO
40027,MCE4_293T_24H_X1:J23,MCE_20221009_3,MCE4_293T_24H_X1,10,23,cell_293T,24 h,-666,DMSO_02,DMSO
40395,MCE4_293T_24H_X2:J23,MCE_20221009_3,MCE4_293T_24H_X2,10,23,cell_293T,24 h,-666,DMSO_02,DMSO
40776,MCE4_293T_24H_X3:J23,MCE_20221009_3,MCE4_293T_24H_X3,10,23,cell_293T,24 h,-666,DMSO_02,DMSO

In [3]:
dataframe = pd.read_csv('C:/Users/vishw/OneDrive/Desktop/Projects/Novartis/Dataset/csv/HEK293T_Counts.csv', header=1)

In [55]:
dataframe[dataframe['Sample_id'].isin(metadata[metadata['treatment'] == 'Blank']['unique_ID'])].iloc[:,1:].describe()

,A2M,A4GNT,AARS,ABCA1,ABCB1,ABCB6,ABCC5,ABCC8,ABCF1,ABCF3,...,ZNF185,ZNF274,ZNF281,ZNF318,ZNF395,ZNF451,ZNF586,ZNF589,ZW10,ZYX
count,4058.000000,4058.0,4058.000000,4058.000000,4058.000000,4058.000000,4058.000000,4058.000000,4058.000000,4058.000000,...,4058.000000,4058.000000,4058.000000,4058.000000,4058.000000,4058.000000,4058.000000,4058.000000,4058.000000,4058.000000
mean,0.005914,0.0,1.166092,0.002957,0.080089,0.000493,0.094874,0.000739,0.780187,0.007393,...,0.009611,0.116560,0.035239,0.339576,0.038935,1.814194,0.061114,0.302612,0.355347,0.196649
std,0.113059,0.0,23.144007,0.080000,1.568183,0.022198,1.982949,0.027183,16.377419,0.156825,...,0.214478,2.422568,0.747349,6.727010,0.841646,35.624766,1.249189,6.085991,7.109128,4.126036
min,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,4.000000,0.0,631.000000,4.000000,47.000000,1.000000,64.000000,1.000000,490.000000,5.000000,...,8.000000,75.000000,22.000000,176.000000,25.000000,936.000000,37.000000,165.000000,204.000000,122.000000

In [47]:
temp =metadata[metadata['experiment_no'] == "MCE_20220606"]
temp = temp[temp['sample_plate'] == "MCE5_293T_24H_X1"]
temp = temp[temp['treatment'] == 'Blank']
temp.sort_values('sample_row')
# temp = temp[temp['sample_row'] == 4]
# temp = temp[temp['sample_column'] == 10]
# temp

,unique_ID,experiment_no,sample_plate,sample_row,sample_column,cell_id,pert_itime,pert_idose,sample,treatment
282,MCE5_293T_24H_X1:A24,MCE_20220606,MCE5_293T_24H_X1,1,24,cell_293T,24 h,-666,Blank_02,Blank
133,MCE5_293T_24H_X1:A01,MCE_20220606,MCE5_293T_24H_X1,1,1,cell_293T,24 h,-666,Blank_01,Blank
224,MCE5_293T_24H_X1:B01,MCE_20220606,MCE5_293T_24H_X1,2,1,cell_293T,24 h,-666,Blank_03,Blank
185,MCE5_293T_24H_X1:C01,MCE_20220606,MCE5_293T_24H_X1,3,1,cell_293T,24 h,-666,Blank_05,Blank
189,MCE5_293T_24H_X1:E02,MCE_20220606,MCE5_293T_24H_X1,5,2,cell_293T,24 h,-666,Blank_10,Blank
338,MCE5_293T_24H_X1:E01,MCE_20220606,MCE5_293T_24H_X1,5,1,cell_293T,24 h,-666,Blank_09,Blank
370,MCE5_293T_24H_X1:E24,MCE_20220606,MCE5_293T_24H_X1,5,24,cell_293T,24 h,-666,Blank_11,Blank
213,MCE5_293T_24H_X1:F02,MCE_20220606,MCE5_293T_24H_X1,6,2,cell_293T,24 h,-666,Blank_13,Blank
60,MCE5_293T_24H_X1:F24,MCE_20220606,MCE5_293T_24H_X1,6,24,cell_293T,24 h,-666,Blank_14,Blank
168,MCE5_293T_24H_X1:G02,MCE_20220606,MCE5_293T_24H_X1,7,2,cell_293T,24 h,-666,Blank_16,Blank
102,MCE5_293T_24H_X1:G24,MCE_20220606,MCE5_293T_24H_X1,7,24,cell_293T,24 h,-666,Blank_17,Blank
352,MCE5_293T_24H_X1:G01,MCE_20220606,MCE5_293T_24H_X1,7,1,cell_293T,24 h,-666,Blank_15,Blank
72,MCE5_293T_24H_X1:H24,MCE_20220606,MCE5_293T_24H_X1,8,24,cell_293T,24 h,-666,Blank_20,Blank
46,MCE5_293T_24H_X1:H01,MCE_20220606,MCE5_293T_24H_X1,8,1,cell_293T,24 h,-666,Blank_18,Blank
255,MCE5_293T_24H_X1:H02,MCE_20220606,MCE5_293T_24H_X1,8,2,cell_293T,24 h,-666,Blank_19,Blank
117,MCE5_293T_24H_X1:I24,MCE_20220606,MCE5_293T_24H_X1,9,24,cell_293T,24 h,-666,Blank_23,Blank
249,MCE5_293T_24H_X1:I01,MCE_20220606,MCE5_293T_24H_X1,9,1,cell_293T,24 h,-666,Blank_21,Blank
320,MCE5_293T_24H_X1:I02,MCE_20220606,MCE5_293T_24H_X1,9,2,cell_293T,24 h,-666,Blank_22,Blank
78,MCE5_293T_24H_X1:J02,MCE_20220606,MCE5_293T_24H_X1,10,2,cell_293T,24 h,-666,Blank_25,Blank
350,MCE5_293T_24H_X1:J24,MCE_20220606,MCE5_293T_24H_X1,10,24,cell_293T,24 h,-666,Blank_26,Blank
330,MCE5_293T_24H_X1:J01,MCE_20220606,MCE5_293T_24H_X1,10,1,cell_293T,24 h,-666,Blank_24,Blank
111,MCE5_293T_24H_X1:K01,MCE_20220606,MCE5_293T_24H_X1,11,1,cell_293T,24 h,-666,Blank_27,Blank
348,MCE5_293T_24H_X1:K02,MCE_20220606,MCE5_293T_24H_X1,11,2,cell_293T,24 h,-666,Blank_28,Blank
128,MCE5_293T_24H_X1:K24,MCE_20220606,MCE5_293T_24H_X1,11,24,cell_293T,24 h,-666,Blank_29,Blank
186,MCE5_293T_24H_X1:L24,MCE_20220606,MCE5_293T_24H_X1,12,24,cell_293T,24 h,-666,Blank_32,Blank
177,MCE5_293T_24H_X1:L02,MCE_20220606,MCE5_293T_24H_X1,12,2,cell_293T,24 h,-666,Blank_31,Blank
50,MCE5_293T_24H_X1:L01,MCE_20220606,MCE5_293T_24H_X1,12,1,cell_293T,24 h,-666,Blank_30,Blank
373,MCE5_293T_24H_X1:M24,MCE_20220606,MCE5_293T_24H_X1,13,24,cell_293T,24 h,-666,Blank_35,Blank
170,MCE5_293T_24H_X1:M01,MCE_20220606,MCE5_293T_24H_X1,13,1,cell_293T,24 h,-666,Blank_33,Blank
171,MCE5_293T_24H_X1:M02,MCE_20220606,MCE5_293T_24H_X1,13,2,cell_293T,24 h,-666,Blank_34,Blank
146,MCE5_293T_24H_X1:N24,MCE_20220606,MCE5_293T_24H_X1,14,24,cell_293T,24 h,-666,Blank_38,Blank
97,MCE5_293T_24H_X1:N01,MCE_20220606,MCE5_293T_24H_X1,14,1,cell_293T,24 h,-666,Blank_36,Blank
221,MCE5_293T_24H_X1:N02,MCE_20220606,MCE5_293T_24H_X1,14,2,cell_293T,24 h,-666,Blank_37,Blank
22,MCE5_293T_24H_X1:O24,MCE_20220606,MCE5_293T_24H_X1,15,24,cell_293T,24 h,-666,Blank_41,Blank
226,MCE5_293T_24H_X1:O01,MCE_20220606,MCE5_293T_24H_X1,15,1,cell_293T,24 h,-666,Blank_39,Blank
44,MCE5_293T_24H_X1:O02,MCE_20220606,MCE5_293T_24H_X1,15,2,cell_293T,24 h,-666,Blank_40,Blank
295,MCE5_293T_24H_X1:P24,MCE_20220606,MCE5_293T_24H_X1,16,24,cell_293T,24 h,-666,Blank_44,Blank
316,MCE5_293T_24H_X1:P02,MCE_20220606,MCE5_293T_24H_X1,16,2,cell_293T,24 h,-666,Blank_43,Blank
374,MCE5_293T_24H_X1:P01,MCE_20220606,MCE5_293T_24H_X1,16,1,cell_293T,24 h,-666,Blank_42,Blank

In [40]:
temp.value_counts('treatment')

treatment
Blank        39
DMSO          8
JQ1           8
RNA           4
HY_16771      1
             ..
HY_18299A     1
HY_18299      1
HY_18296      1
HY_18292      1
HY_19469      1
Name: count, Length: 324, dtype: int64

In [17]:
metadata[metadata['sample']=="HY_50946"]

,unique_ID,experiment_no,sample_plate,sample_row,sample_column,cell_id,pert_itime,pert_idose,sample,treatment
0,MCE5_293T_24H_X1:D10,MCE_20220606,MCE5_293T_24H_X1,4,10,cell_293T,24 h,10.0 uM,HY_50946,HY_50946
379,MCE5_293T_24H_X2:D10,MCE_20220606,MCE5_293T_24H_X2,4,10,cell_293T,24 h,10.0 uM,HY_50946,HY_50946
759,MCE5_293T_24H_X3:D10,MCE_20220606,MCE5_293T_24H_X3,4,10,cell_293T,24 h,10.0 uM,HY_50946,HY_50946

In [23]:
temp =dataframe[dataframe['Sample_id'].isin(["MCE5_293T_24H_X1:D10","MCE5_293T_24H_X2:D10", "MCE5_293T_24H_X3:D10"])]
# Calculate variance for each column in temp (excluding Sample_id column)
variance_per_column = temp.iloc[:, 1:].var()
print("Variance for each column:")
print(variance_per_column)

Variance for each column:
A2M           0.333333
A4GNT         0.000000
AARS        554.333333
ABCA1         0.000000
ABCB1        13.000000
              ...
ZNF451    14046.333333
ZNF586        1.333333
ZNF589      111.000000
ZW10         41.333333
ZYX           6.333333
Length: 3407, dtype: float64

In [26]:
metadata[metadata['sample_plate'] == 'MCE5_293T_24H_X1']

,unique_ID,experiment_no,sample_plate,sample_row,sample_column,cell_id,pert_itime,pert_idose,sample,treatment
0,MCE5_293T_24H_X1:D10,MCE_20220606,MCE5_293T_24H_X1,4,10,cell_293T,24 h,10.0 uM,HY_50946,HY_50946
1,MCE5_293T_24H_X1:G14,MCE_20220606,MCE5_293T_24H_X1,7,14,cell_293T,24 h,10.0 uM,HY_18686,HY_18686
2,MCE5_293T_24H_X1:G22,MCE_20220606,MCE5_293T_24H_X1,7,22,cell_293T,24 h,10.0 uM,HY_17592A,HY_17592A
3,MCE5_293T_24H_X1:O22,MCE_20220606,MCE5_293T_24H_X1,15,22,cell_293T,24 h,10.0 uM,HY_19411,HY_19411
4,MCE5_293T_24H_X1:G08,MCE_20220606,MCE5_293T_24H_X1,7,8,cell_293T,24 h,10.0 uM,HY_18522,HY_18522
...,...,...,...,...,...,...,...,...,...,...
374,MCE5_293T_24H_X1:P01,MCE_20220606,MCE5_293T_24H_X1,16,1,cell_293T,24 h,-666,Blank_42,Blank
375,MCE5_293T_24H_X1:L21,MCE_20220606,MCE5_293T_24H_X1,12,21,cell_293T,24 h,10.0 uM,HY_19836,HY_19836
376,MCE5_293T_24H_X1:P13,MCE_20220606,MCE5_293T_24H_X1,16,13,cell_293T,24 h,10.0 uM,HY_19800,HY_19800
377,MCE5_293T_24H_X1:J23,MCE_20220606,MCE5_293T_24H_X1,10,23,cell_293T,24 h,-666,DMSO_02,DMSO
378,MCE5_293T_24H_X1:G18,MCE_20220606,MCE5_293T_24H_X1,7,18,cell_293T,24 h,10.0 uM,HY_18342,HY_18342

In [22]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.manifold import TSNE
import matplotlib.pyplot as plt

# Remove the Sample_id column for scaling (assuming it's the first column)
data_for_scaling = dataframe.iloc[:, 1:]  # Skip the first column (Sample_id)

# Min-max scale the data
scaler = MinMaxScaler()
scaled_data = scaler.fit_transform(data_for_scaling)

# Apply t-SNE
tsne = TSNE(n_components=2, random_state=42, perplexity=30)
tsne_results = tsne.fit_transform(scaled_data)

# Create the 2D t-SNE plot
plt.figure(figsize=(10, 8))
plt.scatter(tsne_results[:, 0], tsne_results[:, 1], alpha=0.6)
plt.xlabel('t-SNE Component 1')
plt.ylabel('t-SNE Component 2')
plt.title('2D t-SNE Plot of Min-Max Scaled Data')
plt.grid(True, alpha=0.3)
plt.show()

KeyboardInterrupt:

In [11]:
# Load R data file (.RData) and convert to pandas DataFrames
import rpy2.robjects as robjects
from rpy2.robjects import pandas2ri
from rpy2.robjects.conversion import localconverter
import pandas as pd

# Use the new context-based conversion approach instead of deprecated activate()
with localconverter(robjects.default_converter + pandas2ri.converter):
    # Load the RData file
    robjects.r['load']("C:/Users/vishw/OneDrive/Desktop/Projects/Novartis/DRUG-seq/data/Novartis_drugseq_U2OS_MoABox/drugseq_ensembl_v98_annotation_and_entrez_mapping.RData")
    
    # List all objects in the R environment to see what was loaded
    r_objects = robjects.r['ls']()
    print("Objects loaded from RData file:")
    for obj in r_objects:
        print(f"- {obj}")
    
    # Convert all R objects to pandas DataFrames
    dataframes = {}
    for obj_name in r_objects:
        try:
            # Get the R object
            r_obj = robjects.r[obj_name]
            
            # Check if it's already a pandas DataFrame (converted automatically)
            if hasattr(r_obj, 'shape') and hasattr(r_obj, 'columns'):
                # It's already a pandas DataFrame
                dataframes[obj_name] = r_obj
                print(f"Successfully accessed {obj_name} as DataFrame with shape: {r_obj.shape}")
            else:
                # Try to convert using robjects conversion
                df = robjects.conversion.rpy2py(r_obj)
                dataframes[obj_name] = df
                print(f"Successfully converted {obj_name} to DataFrame with shape: {df.shape}")
        except Exception as e:
            print(f"Could not convert {obj_name} to DataFrame: {e}")
            # Try alternative conversion method
            try:
                # Direct access without conversion
                dataframes[obj_name] = r_obj
                print(f"Stored {obj_name} as R object (use robjects methods to access)")
            except Exception as e2:
                print(f"Could not store {obj_name}: {e2}")
    
    # Access individual DataFrames like: dataframes['object_name']
    # Example: annotation_df = dataframes['drugseq_ensg_v98']

Objects loaded from RData file:
- drugseq_ensg_v98
- drugseq_ensg_v98_entrez_mapping
- drugseq_ensg_v98_entrez_mapping_notNULL
Successfully accessed drugseq_ensg_v98 as DataFrame with shape: (90454, 4)
Successfully accessed drugseq_ensg_v98_entrez_mapping as DataFrame with shape: (109803, 5)
Successfully accessed drugseq_ensg_v98_entrez_mapping_notNULL as DataFrame with shape: (106823, 5)

In [15]:
dataframes

{'drugseq_ensg_v98':        ensembl_gene_id                geneID chromosome   gene_name
 1      ENSG00000000003       TSPAN6,grch38_X   grch38_X      TSPAN6
 2      ENSG00000000005         TNMD,grch38_X   grch38_X        TNMD
 3      ENSG00000000419        DPM1,grch38_20  grch38_20        DPM1
 4      ENSG00000000457        SCYL3,grch38_1   grch38_1       SCYL3
 5      ENSG00000000460     C1orf112,grch38_1   grch38_1    C1orf112
 ...                ...                   ...        ...         ...
 90450  ENSG00000288459  AL512357.2,grch38_14  grch38_14  AL512357.2
 90451  ENSG00000288460   AL138899.3,grch38_1   grch38_1  AL138899.3
 90452  ENSG00000288473   AL669830.1,grch38_6   grch38_6  AL669830.1
 90453  ENSG00000288484  AC091135.2,grch38_18  grch38_18  AC091135.2
 90454  ENSG00000288520   AL357075.5,grch38_6   grch38_6  AL357075.5

 [90454 rows x 4 columns],
 'drugseq_ensg_v98_entrez_mapping':         ensembl_gene_id             geneID     chromosome      gene_name  \
 1       ENSG00000000003    TSPAN6,grch38_X       grch38_X         TSPAN6
 2       ENSG00000000005      TNMD,grch38_X       grch38_X           TNMD
 3       ENSG00000000419     DPM1,grch38_20      grch38_20           DPM1
 4       ENSG00000000457     SCYL3,grch38_1       grch38_1          SCYL3
 5       ENSG00000000460  C1orf112,grch38_1       grch38_1       C1orf112
 ...                 ...                ...            ...            ...
 109799  ENSG00000291266      NA_character_  NA_character_  NA_character_
 109800  ENSG00000291280      NA_character_  NA_character_  NA_character_
 109801  ENSG00000291281      NA_character_  NA_character_  NA_character_
 109802  ENSG00000291287      NA_character_  NA_character_  NA_character_
 109803  ENSG00000291300      NA_character_  NA_character_  NA_character_

         entrez_gene_id
 1                 7105
 2                64102
 3                 8813
 4                57147
 5                55732
 ...                ...
 109799          595101
 109800          391267
 109801          344875
 109802          441430
 109803          124221

 [109803 rows x 5 columns],
 'drugseq_ensg_v98_entrez_mapping_notNULL':         ensembl_gene_id                geneID chromosome   gene_name  \
 1       ENSG00000000003       TSPAN6,grch38_X   grch38_X      TSPAN6
 2       ENSG00000000005         TNMD,grch38_X   grch38_X        TNMD
 3       ENSG00000000419        DPM1,grch38_20  grch38_20        DPM1
 4       ENSG00000000457        SCYL3,grch38_1   grch38_1       SCYL3
 5       ENSG00000000460     C1orf112,grch38_1   grch38_1    C1orf112
 ...                 ...                   ...        ...         ...
 106819  ENSG00000288459  AL512357.2,grch38_14  grch38_14  AL512357.2
 106820  ENSG00000288460   AL138899.3,grch38_1   grch38_1  AL138899.3
 106821  ENSG00000288473   AL669830.1,grch38_6   grch38_6  AL669830.1
 106822  ENSG00000288484  AC091135.2,grch38_18  grch38_18  AC091135.2
 106823  ENSG00000288520   AL357075.5,grch38_6   grch38_6  AL357075.5

         entrez_gene_id
 1                 7105
 2                64102
 3                 8813
 4                57147
 5                55732
 ...                ...
 106819     -2147483648
 106820       117981789
 106821     -2147483648
 106822     -2147483648
 106823     -2147483648

 [106823 rows x 5 columns]}

In [16]:
dataframes['drugseq_ensg_v98_entrez_mapping']

,ensembl_gene_id,geneID,chromosome,gene_name,entrez_gene_id
1,ENSG00000000003,"TSPAN6,grch38_X",grch38_X,TSPAN6,7105
2,ENSG00000000005,"TNMD,grch38_X",grch38_X,TNMD,64102
3,ENSG00000000419,"DPM1,grch38_20",grch38_20,DPM1,8813
4,ENSG00000000457,"SCYL3,grch38_1",grch38_1,SCYL3,57147
5,ENSG00000000460,"C1orf112,grch38_1",grch38_1,C1orf112,55732
...,...,...,...,...,...
109799,ENSG00000291266,NA_character_,NA_character_,NA_character_,595101
109800,ENSG00000291280,NA_character_,NA_character_,NA_character_,391267
109801,ENSG00000291281,NA_character_,NA_character_,NA_character_,344875
109802,ENSG00000291287,NA_character_,NA_character_,NA_character_,441430
109803,ENSG00000291300,NA_character_,NA_character_,NA_character_,124221

In [5]:
# Excel files are very slow to load, especially large ones (500MB+)
# Try using a more efficient approach:

# Option 1: Use engine parameter and read in chunks
try:
    dataset_counts = pd.read_excel("C:/Users/vishw/OneDrive/Desktop/Projects/Novartis/Dataset/HEK293T_Counts.xlsx", 
                                   engine='openpyxl')
except:
    # Option 2: If still too slow, convert to CSV first using a different tool
    # or read in smaller chunks
    print("File too large for direct Excel reading. Consider converting to CSV format first.")
    # You can use: dataset_counts = pd.read_csv("path_to_csv_version.csv")

File too large for direct Excel reading. Consider converting to CSV format first.